<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RandomStreamLoader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RandomStreamLoader.Properties.Settings>
            <setting name="FrontLobbyTV" serializeAs="String">
                <value>172.16.15.94</value>
            </setting>
            <setting name="MiddleVIPTV" serializeAs="String">
                <value>172.16.15.205</value>
            </setting>
            <setting name="RightVIPTV" serializeAs="String">
                <value>172.16.15.199</value>
            </setting>
            <setting name="LeftVIPTV" serializeAs="String">
                <value>172.16.15.7</value>
            </setting>
            <setting name="FrontDesk1TV" serializeAs="String">
                <value>172.16.15.194</value>
            </setting>
            <setting name="LoungeTV1" serializeAs="String">
                <value>172.16.15.202</value>
            </setting>
            <setting name="LoungeTV2" serializeAs="String">
                <value>172.16.15.207</value>
            </setting>
            <setting name="GameRoom1" serializeAs="String">
                <value>172.16.15.252</value>
            </setting>
            <setting name="GameRoom2" serializeAs="String">
                <value>172.16.15.66</value>
            </setting>
            <setting name="GameRoom3" serializeAs="String">
                <value>172.16.15.64</value>
            </setting>
            <setting name="GameRoom4" serializeAs="String">
                <value>172.16.15.246</value>
            </setting>
            <setting name="PartyRoomA" serializeAs="String">
                <value>172.16.15.43</value>
            </setting>
            <setting name="PartyRoomB" serializeAs="String">
                <value>172.16.15.241</value>
            </setting>
        </RandomStreamLoader.Properties.Settings>
    </userSettings>
</configuration>